In [9]:
import requests
from bs4 import BeautifulSoup
import time 
import pandas as pd

# mongo db client and related docs 
from pymongo import * 
client = MongoClient("mongodb+srv://mansi131199:Power%40123@cluster0.4txyv.mongodb.net/") # setting connection between client and local 

db = client.get_database('project_eventtable') # fetching my database
db_table = db["event"] # detching  collection
location_of_events = []
headers = {
    "User-Agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Mobile Safari/537.36"
}

#cycle = 300 # this is primary number of pages 

# for demo purpose we just go throw 2 cycle 
cycle = 2
data_object = [] # EMPTY list to store data upload  
for page in range(1,cycle):
    base_url = f"https://www.eventbrite.ie/d/united-kingdom--london/all-events/?page={page}"
    
    response = requests.get(base_url , headers = headers)
    if response.status_code != 200: 
        print(" website is not responding !!")
        print(response.status_code)
        break 

    soup  = BeautifulSoup(response.content , 'html.parser')
    titles = soup.select('h3.event-card__clamp-line--two')
    location_area = soup.find_all('p', class_='event-card__clamp-line--one')
    date_tag = soup.find_all('p', class_='Typography_body-md-bold__487rx')
    

    for title in titles:
        data_object.append(title.text)

    
    for loc in location_area:
        data_object.append(loc.text)
 
      
 
    n = len(titles) # we are doing -2 to make sure we dont get error for the range in titles as well
    for n_title in range(0,n-1):
    
        if n_title > len(location_area)-1 or n_title > len(date_tag)-1 :
            break
        else : 
            format = {
                "title_name" : titles[n_title].text.strip() if title else "No title",  
                "date" : date_tag[n_title].text.strip() if date_tag else "Location not specified", 
                "loc" : location_area[n_title].text.strip() if location_area else "Date not specified"
            }
            
        result = db_table.insert_one(format)
       
    
 
    time.sleep(2)
print("done!!")
print(f"Inserted: {data_object}")
print(f"Done! Inserted {len(data_object)} documents.")

done!!
Inserted: ['Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)', 'Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)', 'App Promotion Summit London 2025', 'App Promotion Summit London 2025', 'I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD BUNNY NIGHT - 26/04/25', 'I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD BUNNY NIGHT - 26/04/25', 'London Card Show: May 9th - 11th 2025', 'London Card Show: May 9th - 11th 2025', 'History of the Witch', 'History of the Witch', 'FUTR Europe 2025', 'FUTR Europe 2025', "St Paul's Cathedral at Night", "St Paul's Cathedral at Night", 'KevOnStage Back Pew Tour LONDON', 'KevOnStage Back Pew Tour LONDON', '6th Annual ETFGI Global ETFs Insights Summit - Europe & Africa', '6th Annual ETFGI Global ETFs Insights Summit - Europe & Africa', 'The Giant London Flea Market', 'The Giant London Flea Market', 'Instant Expert: Consciousness and the mind-body connection', 'Instant Expert: Consciousness and the mind-body connection', 'Victory in Europe Day 80th Anniversary Concert', 'Victory in Europe Day 80th Anniversary Concert', 'EMERGENCE - Investment Conference - LONDON 2025', 'EMERGENCE - Investment Conference - LONDON 2025', 'Radhika Das | Heartland Live in London', 'Radhika Das | Heartland Live in London', 'Pure - Spring Colour Affair', 'Pure - Spring Colour Affair', 'TV: The Bigger Picture - DTG Summit 2025', 'TV: The Bigger Picture - DTG Summit 2025', 'U K   A C A Convention 2025', 'U K   A C A Convention 2025', '450 Live -LONDON', '450 Live -LONDON', '5Star Congress 2025 !', '5Star Congress 2025 !', 'Sakis Rouvas Troxy,\xa0London', 'Sakis Rouvas Troxy,\xa0London', 'Wimbledon Art Studios', 'Thu, May 8, 2:00 PM', 'Wimbledon Art Studios', 'The Brewery', 'Thursday at 8:00 AM', 'The Brewery', 'Electric Brixton', 'Saturday at 11:00 PM', 'Electric Brixton', 'Sandown Park Racecourse', 'Sandown Park Racecourse', 'The British Academy', 'Tomorrow at 6:30 PM', 'The British Academy', 'Convene 155 Bishopsgate', 'Thursday at 9:00 AM', 'Convene 155 Bishopsgate', "St. Paul's Cathedral", 'Sat, May 10, 6:30 PM', "St. Paul's Cathedral", 'The Gaumont State Theatre', 'Sat, May 3, 7:30 PM', 'The Gaumont State Theatre', 'London Stock Exchange', 'London Stock Exchange', 'Queen Elizabeth Olympic Park Multi-Storey Car Park', 'Sunday at 10:00 AM', 'Queen Elizabeth Olympic Park Multi-Storey Car Park', 'Congress Centre', 'Saturday at 10:00 AM', 'Congress Centre', 'Westminster Hall', 'Wed, May 7, 7:30 PM', 'Westminster Hall', 'The View in The Royal College of Surgeons of England', 'Monday at 10:00 AM', 'The View in The Royal College of Surgeons of England', 'Union Chapel', 'Thu, May 8, 7:30 PM', 'Union Chapel', 'Crystal Club', 'Friday at 10:00 PM', 'Crystal Club', 'Kings Place', 'Thu, May 8, 8:30 AM', 'Kings Place', 'Friends House', 'Sat, May 10, 10:00 AM', 'Friends House', 'Roundhouse', 'Sun, May 11, 7:00 PM', 'Roundhouse', 'Radisson Blu Edwardian, Heathrow', 'Fri, May 2, 2:00 PM', 'Radisson Blu Edwardian, Heathrow', 'Troxy', 'Sat, May 3, 7:00 PM', 'Troxy']
Done! Inserted 98 documents.

In [10]:

# Fetch all documents
dataset = db_table.find()

# Convert cursor to list of dictionaries
data_tt = list(dataset)

# Convert to DataFrame
df = pd.DataFrame(data_tt)

In [11]:

# Clean and reshape
clean_data = []
for doc in data_tt:
    doc_id = doc.get('_id')
    for key, value in doc.items():
        if key != '_id':
            # This handles each event
            event = {
                'event_name': key,
                'date': value.get('date') if isinstance(value, dict) else None,
                'location': value.get('loc') if isinstance(value, dict) else None
            }
            clean_data.append(event)

# Convert to DataFrame
df = pd.DataFrame(clean_data)

# Preview
print(df.head())

                                          event_name                  date  \
0   Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)   Thu, May 8, 2:00 PM
1   Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)              upcoming
2                   App Promotion Summit London 2025   Thursday at 8:00 AM
3                   App Promotion Summit London 2025              upcoming
4  I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD ...  Saturday at 11:00 PM

                location
0  Wimbledon Art Studios
1           Not revealed
2  Wimbledon Art Studios
3            The Brewery
4           Not revealed

In [12]:
df

,event_name,date,location
0,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),"Thu, May 8, 2:00 PM",Wimbledon Art Studios
1,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),upcoming,Not revealed
2,App Promotion Summit London 2025,Thursday at 8:00 AM,Wimbledon Art Studios
3,App Promotion Summit London 2025,upcoming,The Brewery
4,I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD ...,Saturday at 11:00 PM,Not revealed
...,...,...,...
37160,date,None,None
37161,loc,None,None
37162,title_name,None,None
37163,date,None,None
37164,loc,None,None

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37165 entries, 0 to 37164
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   event_name  37165 non-null  object
 1   date        9909 non-null   object
 2   location    9909 non-null   object
dtypes: object(3)
memory usage: 871.2+ KB

In [14]:
df['location'].value_counts()

location
Not revealed                  3283
Emmanuel Centre                118
Waterstones                    102
Sandown Park Racecourse         82
Southwark Cathedral             72
                              ...
Lakeside Shopping Centre         2
DasDas Box                       2
Instituto Cervantes London       1
The Spice Of Life                1
Westow House Pub & Hotel         1
Name: count, Length: 538, dtype: int64

In [15]:
df['event_name'].value_counts()

event_name
title_name                                                                  9072
date                                                                        9072
loc                                                                         9032
Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)                              60
History of the Witch                                                          56
                                                                            ...
Exams, Treatment Planning & Successful Composites – For Dental Therapist       2
Satsang fundraiser for Gift a Smile AOL Schools @Bromley                       2
Fight Night IV                                                                 2
London - IEMA x  Small99's People, Planet, Pint™: Sustainability Meetup        2
Beginners May Twerk, Fitness & Dance Classes in London                         1
Name: count, Length: 980, dtype: int64

In [16]:
df = df.drop_duplicates()

In [17]:
df = df.dropna()

In [18]:
df['date'] = df['date'].astype(str)
# 1. Separate date-like and non-date-like values
non_date_values = ['upcoming', 'sales end soon']

# Create a new column for raw dates
df['date_raw'] = df['date']

# 2. Mask non-date values
df['date_clean'] = df['date_raw'].where(~df['date_raw'].str.lower().isin(non_date_values))
# Convert to datetime
df['date'] = pd.to_datetime(df['date'],  format = '%a, %b %d, %I:%M %p', errors='coerce')

# Extract components
df['day'] = df['date'].dt.date
df['time'] = df['date'].dt.time
df['month'] = df['date'].dt.month
df['hour'] = df['date'].dt.hour
df['time_frame'] = df['date'].dt.strftime('%p')  # AM or PM
# 5. Optionally: Flag non-dated events
df['is_upcoming'] = df['date_raw'].str.lower().eq('upcoming')
df['is_sales_end_soon'] = df['date_raw'].str.lower().eq('sales end soon')

In [19]:
df.columns

Index(['event_name', 'date', 'location', 'date_raw', 'date_clean', 'day',
       'time', 'month', 'hour', 'time_frame', 'is_upcoming',
       'is_sales_end_soon'],
      dtype='object')

In [20]:
df.value_counts()

event_name                                                                  date                 location               date_raw              date_clean            day         time      month  hour  time_frame  is_upcoming  is_sales_end_soon
"LIFEBLOOD OF DEMOCRACY" - IS FREEDOM OF THE PRESS SAFE IN THE PM'S HANDS?  1900-05-22 08:30:00  St Pancras New Church  Thu, May 22, 8:30 AM  Thu, May 22, 8:30 AM  1900-05-22  08:30:00  5.0    8.0   AM          False        False                1
Q-Club at Waterstones TCR                                                   1900-05-04 19:00:00  Cobham Curve           Sun, May 4, 7:00 PM   Sun, May 4, 7:00 PM   1900-05-04  19:00:00  5.0    19.0  PM          False        False                1
Queer Line Dancing @ Peckham Levels                                         1900-05-10 19:00:00  Heaven                 Sat, May 10, 7:00 PM  Sat, May 10, 7:00 PM  1900-05-10  19:00:00  5.0    19.0  PM          False        False                1
Queer Line Dancing @ Walthamstow Trades Hall                                1900-05-13 19:00:00  Not revealed           Tue, May 13, 7:00 PM  Tue, May 13, 7:00 PM  1900-05-13  19:00:00  5.0    19.0  PM          False        False                1
Quip Shed Comedy @ Wasps FC ft. Fin Taylor                                  1900-05-03 20:00:00  Not revealed           Sat, May 3, 8:00 PM   Sat, May 3, 8:00 PM   1900-05-03  20:00:00  5.0    20.0  PM          False        False                1
                                                                                                                                                                                                                                                    ..
Film Screening for Palestine                                                1900-05-07 19:00:00  Not revealed           Wed, May 7, 7:00 PM   Wed, May 7, 7:00 PM   1900-05-07  19:00:00  5.0    19.0  PM          False        False                1
Film and TV Networking Party                                                1900-04-30 19:00:00  Not revealed           Wed, Apr 30, 7:00 PM  Wed, Apr 30, 7:00 PM  1900-04-30  19:00:00  4.0    19.0  PM          False        False                1
Film on Film Live Screening & Networking                                    1900-05-07 19:00:00  Egg London Nightclub   Wed, May 7, 7:00 PM   Wed, May 7, 7:00 PM   1900-05-07  19:00:00  5.0    19.0  PM          False        False                1
Filmmakers Connect London - Networking Party                                1900-07-05 13:00:00  Not revealed           Sat, Jul 5, 1:00 PM   Sat, Jul 5, 1:00 PM   1900-07-05  13:00:00  7.0    13.0  PM          False        False                1
【伦敦文化沙龙no.99】早春诗会——韩梦云、钱倩、黄安澜、杨槃槃                                           1900-04-27 14:00:00  Not revealed           Sun, Apr 27, 2:00 PM  Sun, Apr 27, 2:00 PM  1900-04-27  14:00:00  4.0    14.0  PM          False        False                1
Name: count, Length: 785, dtype: int64

In [21]:
df.drop(['date', 'date_raw' , 'date_clean'], axis = 1 , inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2317 entries, 0 to 9211
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_name         2317 non-null   object
 1   location           2317 non-null   object
 2   day                785 non-null    object
 3   time               785 non-null    object
 4   month              785 non-null    float64
 5   hour               785 non-null    float64
 6   time_frame         785 non-null    object
 7   is_upcoming        2317 non-null   bool
 8   is_sales_end_soon  2317 non-null   bool
dtypes: bool(2), float64(2), object(5)
memory usage: 149.3+ KB

In [23]:
df[['is_upcoming' , 'is_sales_end_soon']]  = df[['is_upcoming','is_sales_end_soon']].astype(int)
df_encodd = pd.get_dummies(df , columns = ['is_upcoming' , 'is_sales_end_soon'] , drop_first=True)

In [24]:
df.head()

,event_name,location,day,time,month,hour,time_frame,is_upcoming,is_sales_end_soon
0,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),Wimbledon Art Studios,1900-05-08,14:00:00,5.0,14.0,PM,0,0
1,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),Not revealed,NaT,NaT,NaN,NaN,NaN,1,0
2,App Promotion Summit London 2025,Wimbledon Art Studios,NaT,NaT,NaN,NaN,NaN,0,0
3,App Promotion Summit London 2025,The Brewery,NaT,NaT,NaN,NaN,NaN,1,0
4,I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD ...,Not revealed,NaT,NaT,NaN,NaN,NaN,0,0

In [25]:
df.isnull().sum()

event_name              0
location                0
day                  1532
time                 1532
month                1532
hour                 1532
time_frame           1532
is_upcoming             0
is_sales_end_soon       0
dtype: int64

In [26]:
df.duplicated

<bound method DataFrame.duplicated of                                              event_name  \
0      Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)
1      Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry)
2                      App Promotion Summit London 2025
3                      App Promotion Summit London 2025
4     I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD ...
...                                                 ...
7076                    How To Manage Emotions Workshop
7078                                     Fight Night IV
7079                                     Fight Night IV
9032                       St Paul's Cathedral at Night
9211       Chingford Green Jumble Trail 27th April 2025

                       location         day      time  month  hour time_frame  \
0         Wimbledon Art Studios  1900-05-08  14:00:00    5.0  14.0         PM
1                  Not revealed         NaT       NaT    NaN   NaN        NaN
2         Wimbledon Art Studios         NaT       NaT    NaN   NaN        NaN
3                   The Brewery         NaT       NaT    NaN   NaN        NaN
4                  Not revealed         NaT       NaT    NaN   NaN        NaN
...                         ...         ...       ...    ...   ...        ...
7076               Not revealed         NaT       NaT    NaN   NaN        NaN
7078         Boxpark Shoreditch  1900-05-06  14:30:00    5.0  14.0         PM
7079               Not revealed  1900-05-31  11:00:00    5.0  11.0         AM
9032  The Gaumont State Theatre         NaT       NaT    NaN   NaN        NaN
9211               Not revealed         NaT       NaT    NaN   NaN        NaN

      is_upcoming  is_sales_end_soon
0               0                  0
1               1                  0
2               0                  0
3               1                  0
4               0                  0
...           ...                ...
7076            0                  1
7078            0                  0
7079            0                  0
9032            0                  0
9211            0                  0

[2317 rows x 9 columns]>

In [27]:
df

,event_name,location,day,time,month,hour,time_frame,is_upcoming,is_sales_end_soon
0,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),Wimbledon Art Studios,1900-05-08,14:00:00,5.0,14.0,PM,0,0
1,Wimbledon Art Fair: 8 - 11 May 2025 (Free Entry),Not revealed,NaT,NaT,NaN,NaN,NaN,1,0
2,App Promotion Summit London 2025,Wimbledon Art Studios,NaT,NaT,NaN,NaN,NaN,0,0
3,App Promotion Summit London 2025,The Brewery,NaT,NaT,NaN,NaN,NaN,1,0
4,I LOVE REGGAETON - “DEBI TIRAR MAS FOTOS” BAD ...,Not revealed,NaT,NaT,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...
7076,How To Manage Emotions Workshop,Not revealed,NaT,NaT,NaN,NaN,NaN,0,1
7078,Fight Night IV,Boxpark Shoreditch,1900-05-06,14:30:00,5.0,14.0,PM,0,0
7079,Fight Night IV,Not revealed,1900-05-31,11:00:00,5.0,11.0,AM,0,0
9032,St Paul's Cathedral at Night,The Gaumont State Theatre,NaT,NaT,NaN,NaN,NaN,0,0
9211,Chingford Green Jumble Trail 27th April 2025,Not revealed,NaT,NaT,NaN,NaN,NaN,0,0

In [28]:
df.isnull().sum()

event_name              0
location                0
day                  1532
time                 1532
month                1532
hour                 1532
time_frame           1532
is_upcoming             0
is_sales_end_soon       0
dtype: int64

In [29]:
df['month'].value_counts()

month
5.0    548
4.0    175
6.0     57
7.0      5
Name: count, dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2317 entries, 0 to 9211
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_name         2317 non-null   object
 1   location           2317 non-null   object
 2   day                785 non-null    object
 3   time               785 non-null    object
 4   month              785 non-null    float64
 5   hour               785 non-null    float64
 6   time_frame         785 non-null    object
 7   is_upcoming        2317 non-null   int32
 8   is_sales_end_soon  2317 non-null   int32
dtypes: float64(2), int32(2), object(5)
memory usage: 162.9+ KB

In [31]:
df[['time', 'day']] = df[['time', 'day']].apply(pd.to_numeric, errors='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2317 entries, 0 to 9211
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_name         2317 non-null   object
 1   location           2317 non-null   object
 2   day                0 non-null      float64
 3   time               0 non-null      float64
 4   month              785 non-null    float64
 5   hour               785 non-null    float64
 6   time_frame         785 non-null    object
 7   is_upcoming        2317 non-null   int32
 8   is_sales_end_soon  2317 non-null   int32
dtypes: float64(4), int32(2), object(3)
memory usage: 162.9+ KB

POSTGRESQL - DATASET

In [ ]:
import pandas as pd
from sqlalchemy import create_engine


# Your Neon PostgreSQL connection string (with psycopg2 driver)
db_url = "postgresql+psycopg2://neondb_owner:npg_C9ksBqFi7RWJ@ep-black-sun-a4gp6kob-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Create SQLAlchemy engine
engine = create_engine(db_url)

# Your DataFrame (replace this with your actual df)
# Example:

df = pd.DataFrame(df)

# Upload to Neon PostgreSQL
df.to_sql(df, engine, if_exists='replace', index=False)

print(" Data uploaded successfully to Neon DB!")

ModuleNotFoundError: No module named 'pg8000'

In [ ]:
conn = sqlalchemy.connect